.content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.description {
	width: 50%;
}

.descriptionContent {
	margin-bottom: 1em;
}

.skillsBlock {
	display: flex;
	flex-direction: column;
}

.skills {
	column-count: 2;
	list-style-type: none;
	padding: 0;
}

.skills li {
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
}

.skills li::before {
	content: '+';
	color: #f0db4f;
	position: absolute;
	left: 0;
	top: 0;
}
