.navMenu {
	list-style: none;
	/* display: flex; */
	counter-reset: item;
}

.navMenu li {
	counter-increment: item;
}

.navMenu li:before {
	content: '0' counter(item) '.';

	color: #f0db4f;
}

.navMenu a {
	color: white;
	text-decoration: none;
	transition: color 0.3s;
}

.navMenu a:hover {
	color: #f0db4f;
}


.logo {
	height: 50px;
}
